<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Traveler</title>
  <link rel="stylesheet" type="text/css" href="/css/posts.css">
  
</head>
<body id="bg-collage">
  <header>
    <h2>Let's Take a Trip!</h2>
    <h3><nav id="nav-btns">
    <a href="/">Home</a>
    {{#if logged_in}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav></h3>
  </header>

  <div class="cntr-title">
      <h1 id="travel-title">The Traveler</h1>
      <h2 id="travel-sub-title"> Where Will You Travel Next?</h2>
    </div>
  
  <main>
    <section>
      <h1 id="travel-title">The Traveler</h1>
      <h2 id="travel-sub-title"> Where Will You Travel Next?</h2>
    </section>
    <div class="destination">
      {{{body}}}
    </div>
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>