 <header>
            <h1>The Traveler</h1>
        </header>
        <div class="pages">
            <div class="content">
                <div>
                    <h1 class="username">username</h1>
                    <img class="postimage" src="./images/placeholder.jpg">
                    <p class="postcontent">
                        <h3 class=location>Location</h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod ante eu turpis ornare, ut pretium purus faucibus. Suspendisse lorem erat, luctus quis velit non, venenatis luctus quam. Curabitur consequat aliquam urna vitae vehicula. Pellentesque eget odio vel nisl rutrum fermentum. Suspendisse bibendum urna eu imperdiet consectetur.
                    </p>
                </div>
                <div>
                    <h1 class="username">username</h1>
                    <img class="postimage" src="./images/placeholder.jpg">
                    <p class="postcontent">
                        <h3 class=location>Location</h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod ante eu turpis ornare, ut pretium purus faucibus. Suspendisse lorem erat, luctus quis velit non, venenatis luctus quam. Curabitur consequat aliquam urna vitae vehicula. Pellentesque eget odio vel nisl rutrum fermentum. Suspendisse bibendum urna eu imperdiet consectetur.
                    </p>
                </div>
                <div>
                    <h1 class="username">username</h1>
                    <img class="postimage" src="./images/placeholder.jpg">
                    <p class="postcontent">
                        <h3 class=location>Location</h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod ante eu turpis ornare, ut pretium purus faucibus. Suspendisse lorem erat, luctus quis velit non, venenatis luctus quam. Curabitur consequat aliquam urna vitae vehicula. Pellentesque eget odio vel nisl rutrum fermentum. Suspendisse bibendum urna eu imperdiet consectetur.
                    </p>
                </div>
            </div>
            <div class="userinfo">
                <h1>Your Username Here</h1>
                <img src="./images/pfp.jpg" class="pfp">
                <ul>
                    <li class="name">Name: Chris</li>
                    <li class="age">Age: 20</li>
                    <li class="spot">Favorite Travel Spot: Home</li>
                    <l1 class="aboutme">About Me: I like dogs!</l1>
                </ul>
            </div>
        </div>
