* {
    padding: 0;
    margin: 0;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #056081;
    color:white;
    padding: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
    

}
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

body {
    display: flex;
    background-color: #36454f;
}


.content {
    width:85%;
    color:black;
    padding-left: 15px;
    

}

.content div {
    width:30%;
    height: 600px;
    float:left;
    padding: 0px 20px 0px 20px;
    


}

.userinfo {
    align-content: center;
    color: black;
    width:15%;
    height:1000px;
    float: right;
    border-left: 5px solid #36454f;
    padding-left: 6px;
}

.userinfo h1 {
    text-align: center;
}

.userinfo img {
    text-align: center;
    width:75%
}

ul {
    list-style:none;
    font-weight: bold;
    font-size: 24px;
}

/*images*/

.postimage {
    width:100%;
    height:50%;
    object-fit: contain;
}

.pfp {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #36454f;
}
#grayscale {
    filter: grayscale(100%);
    opacity: 80%;
}

#bg-collage{
    background: url("../images/collage-greyscale.png") repeat center fixed;
    background-size: contain;
    
}

/* Text Changes */

#travel-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-self: center;
    /* margin-top: 50%; */

}

#travel-sub-title {
    align-items: center;
}

/*Buttons*/

#nav-btns {
    align-items: center;}